.mobileMenu {
  position: fixed;
  bottom: 0;
  width: 100vw;

  display: flex;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.75);
}

.menuTab {
  padding: 1rem;
}

.menuTabSelected {
  border-top: 5px solid red;
}

.menuTabSelected > .menuIcon {
  margin-top: -5px;
}

.menuIcon {
  cursor: pointer;

  transition: scale 300ms ease-in-out,
              rotate 750ms ease-in-out;
}

.menuIcon:hover {
  scale: 1.4;
}

.spinningCog:hover {
  rotate: 360deg;
}