:root {
  box-sizing: border-box;

  --background-color: pink;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* border: 1px solid red; */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dropdownMenu {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.dropdownMenuTitle,
.dropdownOption {
  user-select: none;
  cursor: pointer;
}

.dropdownMenuTitle {
  background-color: var(--background-color);
  background-color: white;
  outline: 2px solid black;
}

.dropdownMenuTitle,
.dropdownOption {
  padding: 1rem;
}

.dropdownOptionSet {
  position: absolute;
  width: inherit;
}

.dropdownOption {
  position: absolute;
  width: inherit;

  z-index: -1;

  background-color: var(--background-color);
  background-color: rgba(50, 50, 50, 0.8);
  color: aliceblue;
  border: 2px solid white;

  translate: 0 -100%;

  transition: translate 350ms ease-in-out 75ms;
}

.dropdownOption:last-of-type {
  border-radius: 0 0 10px 10px;
}